body {
    margin:0 auto;
    min-height:100%;
    display:flex;
    flex-direction:column;
    background-color: #e30f0f;
}

.main-header{
    height:300px;
    position: relative;
    margin-top:1%;
}

.brand-logo {
    position: absolute;
    top: 50%;        /* Vertically center the logo */
    left: 50%;       /* Horizontally center the logo */
    transform: translate(-50%, -50%); /* Adjust the position to truly center */
    z-index: 1;      /* Ensure it stays behind the content */
}

.brand-logo img {
    width:60%;
    margin-top:13%;
    
}

.main-content{
    max-width:60%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    flex-direction: column;
}

.header-container{
    z-index:4;
    position: relative;
    top:0;
    margin:0 auto;
}




.merriweather-sans {
  font-family: "Merriweather Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.carousel-inner{
    background-color: rgb(212, 207, 207);

}

.carousel{
    width:1100px;
}

.carousel-item {
    align-items: center;
    align-content: center;
    margin:0 auto;
    
    
}

.carousel-item img {
    height: 240px; /* Scale image to fit carousel height */
     /* Maintain aspect ratio */

}


.spicy-rice-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
  }
  
